.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 15px auto 5px;
  cursor: pointer;
  background: #bb761821;
}

.todo-list-item-content {
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
}

.todo-list-item-content input {
  margin-right: 5px;
}

.todo-list-item-content:hover {
  background: rgb(245, 245, 245);
}

.todo-list-item-delete {
  background: rgb(197 66 66);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  width: 30px;
  height: 35px;
}

.todo-list-item-delete:hover {
  background: rgb(140, 46, 15);
}

.todo-list-item-checked {
  text-decoration: line-through;
}


input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  transform: scale(1.5);
  margin: 10px;
}